<p>display-user works!</p>
<div class="container">
<div class="row">
    <div *ngFor="let user of users" (click)="displayUser(user)" class="col-md-3">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-muted">{{user.id}}</h5>
                <h5 class="card-title">{{user.username}}</h5>
            
            <hr/>
                <div>
                    <h5 class="card-text">User Detail</h5>
                    <p class="card-text">{{user.username}}</p>
                    <p class="card-text">{{user.email}}</p>
                    <p class="card-text">{{user.password}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>