<style>
  
</style>

<!-- Toolbar -->
<!-- <div>
  <app-user-model></app-user-model>
  <app-display-user></app-display-user>
  <app-display-customer></app-display-customer>
</div> -->
<!-- <div>
  <nav>
    <a routerLink='/userModel'>User Model</a>
    <a routerLink='/displayUser'>Display User</a>
    <a routerLink='/displayCustomers'>Display Customer</a>
    <a routerLink='/employeList'>Employe List</a>
  </nav>
</div>
<br> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink='/userModel'>User Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/displayUsers'>Display User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/displayCustomers'>Display Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/add-customer'>Add Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/employeList'>Employe List</a>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- <app-display-customer-by-id></app-display-customer-by-id> -->
<router-outlet></router-outlet>